:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-bg: #f8f9fa;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-bg: #1e1e1e;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.card {
  background-color: var(--card-bg);
  color: var(--text-color);
  transition: background-color 0.3s;
}

[data-theme="dark"] .card-subtitle {
  color: #ffffff !important;  /* светло-серый, лучше виден на тёмном фоне */
}

[data-theme="dark"] .text-muted {
  color: #ffffff !important; /* чуть светлее, чтобы хорошо читалось */
}
